# GPIP Pin on which the DHT22 is connected
GPIO_PIN_DHT22=2

# Sampling interval for which the data will be refreshed
DHT22_SLEEPTIME=15

# Prometheus label "location"
PROMETHEUS_LABEL_LOCATION_VALUE=livingroom

# Prometheus label "city"
PROMETHEUS_LABEL_CITY_VALUE=mycity

# Prometheus label "country"
PROMETHEUS_LABEL_COUNTRY_VALUE=mycountry
